<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= message %></h1>

    <% if(isCool) { %> <p>b/c isCool == true; </p> <h2>You are awesome.</h2> <% } %>
  </body>
</html>
